.navbar{
  padding:20px;
  background-color: rgb(108, 230, 157);
}
.search{
  display: flex;
  justify-content: center;
  padding: 20px ;
}
 .card{
  display: flex;
  justify-content: center;
  padding: 20px ;
}
